#page{
	font-size: 26px;
}
#page .bonus{
	margin: 30px 0;
	border-bottom: 3px solid #cad52d;
}
#page .bonus ul{
	margin-left:10%;
	margin-top: 20px;
}
#page .bonus li{
	line-height: 30px;
	margin: 15px 0;
}
#page .bonus label{
	font-weight: bold;
	vertical-align: top;
	font-style: italic;
	width: 80px;display: inline-block;;
}
#page .bonus .progress{
	display: inline-block;height: 30px;vertical-align: top;
}

#page .bonus .first .progress{
	width: 70%;
}
#page .bonus .second .progress{
	width: 50%;
}
#page .bonus .third .progress{
	width: 30%;
}
#page .bonus .forth .progress{
	width: 20%;
}
#page .bonus .fifth .progress{
	width: 10%;
}
#page .bonus .sixth .progress{
	width: 5%;
}
#page .bonus .fifth label,#page .bonus .sixth label{
	font-size: 0.6em;
}
