body{
	background-color:#000;
	color: #FFF;
}
img{
	width:100%;
}
#header,#nav,#page,#footer{
	width:1000px;
	margin:0 auto;
}
#header{
	height:180px;
	padding: 20px 0;
}
#header img{
	width:auto;
}
#header .left{
	width: 50%;
}
#header .left img.logo{
	height: 160px;
	margin-top:10px;
}
#header ul img{
	height: 80px;
	margin-bottom:10px;
}
#header li img.two{
	margin-right:20px;
}

#nav{
	padding-bottom: 10px;
	overflow: hidden;
}
#nav .menu{
	float: left;width: 16.6%;
	text-align: center;
	line-height: 30px;
	font-size:20px;
}
#nav .menu .sep{
	height:2px;background-color: #cad52d;
	width: 15px;
	position: relative;top: 14px;left:-15px;
}
#nav .menu nav{
	position:relative;left:-7px;
}
#nav .menu .separator{
	height:3px;background-color: #cad52d;
	width: 90%;
}

#page {
	padding: 0 0px;
	margin: 10px auto;
}
#page .content{
	width: 70%;
}

#page .content .lives .title{
	margin-bottom: 15px;
	border-bottom: 3px solid #cad52d;
	font-size: 20px;
	padding: 5px 0;
}
#page .lives .catalog,#page .lives .matches{
	margin-bottom:-9999px;
	padding-bottom:9999px;
}
#page .content .lives .catalog{
	height: 600px;
	width:25%;
	margin-right:4%;
}
#page .content .lives ul{
	width: 70%;
}
#page .lives .matches li{
	border-bottom: 3px solid #cad52d;
	margin-bottom: 15px;
}
#page .lives .matches h4{
	font-size: 22px;
	margin-bottom:3px;
}
#page .lives .matches .desc{
	font-size: 26px;position: relative;top:-18px;
}
#page .lives .matches .desc em{
	display: inline-block;width:12px;height:12px;
	background-color: #cad52d;border-radius: 50%;
	position:relative;top:-2px;right:5px;
}

#page .content .news{
	height:200px;
	margin:10px 0;
}


#page .side{
	width: 28%;
	margin-left:2%;
}
#page .side .links{
	margin: 50px 0 50px 15px;
}
#page .side .links li{
	float: left;
	margin: 15px 0 0 4%;
	width: 26%;
}
#page .side .teams li{
	margin-bottom:20px;
	text-align: center;
}
#page .side .teams li img{
	height: 42px;
	width:auto;
}

#footer{
	height:260px;
}

.gray{
	background-color: #9e9e9f;
	color: #000;
	font-weight: bolder;
	font-size: 30px;
	position:relative;
	font-family: "Microsoft Yahei";
}
.gray label{
	position:absolute;
	top:50%;left:50%;
	line-height: 30px;
	margin:-15px 0 0 -60px;
}