#page {
	padding: 0 0px;
	margin: 10px auto;
}
#page .content{
	width: 70%;
	overflow: hidden;
}

#page .content .lives .title{
	margin-bottom: 15px;
	border-bottom: 3px solid #cad52d;
	font-size: 20px;
	padding: 5px 0;
}
#page .lives .catalog,#page .lives .matches{
	margin-bottom:-9999px;
	padding-bottom:9999px;
}
#page .content .lives .catalog{
	height: 600px;
	width:25%;
	margin-right:4%;
}
#page .content .lives ul{
	width: 70%;
}
#page .lives .matches li{
	border-bottom: 3px solid #cad52d;
	margin-bottom: 15px;
}
#page .lives .matches h4{
	font-size: 22px;
	margin-bottom:3px;
}
#page .lives .matches .desc{
	font-size: 26px;position: relative;top:-18px;
}
#page .lives .matches .desc em{
	display: inline-block;width:12px;height:12px;
	background-color: #cad52d;border-radius: 50%;
	position:relative;top:-2px;right:5px;
}

#page .content .news{
	/*height:200px;*/
	margin:10px 0;
}

#page .side{
	width: 28%;
	margin-left:2%;
}
#page .side .links{
	margin: 50px 0 50px 15px;
}
#page .side .links li{
	float: left;
	margin: 15px 0 0 4%;
	width: 26%;
}
#page .side .teams li{
	margin-bottom:20px;
	text-align: center;
}
#page .side .teams li img{
	height: 42px;
	width:auto;
}


/*  修改输出屏大小  */
.banner{width: 700px; height: 350px; overflow: hidden; position: relative; margin-left: auto; margin-right: auto; }
.banner .img{width: 99999px; position:absolute; left:0px; top:0;}
.banner .img li{ float:left;}
/*/ 修改图片大小 /*/
.banner .img img{ width: 700px;}
/*/ 小圆圈 /*/
.banner .num{ position:absolute; width:100%; bottom:10px; left:0; text-align:center; font-size:0px;}
.banner .num li{ width:10px;height:10px; background:#888; border-radius:50%; display:inline-block; margin:0 3px; cursor:pointer;}
.banner .num li.on{ background:#F60;}