body {
	background: #ffffff;
	color: #000000;
	font-size: 0.875em;
	line-height: 1.5em;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
}
img{
	width:100%;
}
.clearfix{
	overflow: hidden;zoom: 1;
}
.left{
	float:left;
}
.right{
	float: right;
}
.center{
	text-align: center;
}
