<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta name="google" content="notranslate">
	<title>大白 - 商户</title>
	<link rel='stylesheet' id='global-css'  href='/css/style.css?ver=4.4.2' type='text/css' media='all' />
	<script type='text/javascript' src='/script/libs.min.js?ver=4.4.2'></script>
	<script type='text/javascript' src='/script/functions.js?ver=4.4.2'></script>
</head>
<body>
	<div id="wrap" class="wrap">
		<div id="js-cover" class="cover" data-page="products">
		
		</div>
		<div class="container header-container">
			<header class="header">
				<div class="avatar">
					<a href="admin-index.html"><img src="images/avatar.png"></a>
				</div>
				<div class="content">
					<h1><a class="link" href="admin-products-add.html"><i class="icon-css-plus"></i>添加新商品</a></h1>
				</div>
				<div class="meta">
					<div id="js-order" class="order">
						<img class="list" src="images/svg/list.svg">
						<img class="close" src="images/svg/close.svg">
					</div>
				</div>
			</header>
			<section  v-infinite-scroll="loadMore(products)" infinite-scroll-disabled="busy" infinite-scroll-distance="10" class="js-disabled-list ui-media_box ui-media_small_appmsg icon-list products">
				<div id="js-products" v-swiped class="ui-cells ui-cells_access js-swiped-4">
					<div v-for="item in products.list" v-if="$index < (10 * products.current_page)" class="ui-cell js-item js-remove-item" v-bind:class="{ 'offline': item.has_offline}">
						<aside class="order-item">
							<span class="ui-btn ui-btn_mini ui-btn_primary js-up" >向上</span>
							<span class="ui-btn ui-btn_mini ui-btn_primary js-down"">向下</span>
							<span class="ui-btn ui-btn_mini ui-btn_primary js-sticky"">置顶</span>
						</aside>
						<div class="item" v-bind:class="{ 'has-offline': item.has_offline}">
							<div class="ui-cell_bd ui-cell_primary">
								<h2>{{item.title}}</h2>
								<span class="price"><span>￥</span>{{item.price}}</span>
							</div>
						</div>
						<span v-if="item.has_offline" v-on:click="offline($event, item)" class="downline upline">上线</span>
						<span v-else="item.has_offline" v-on:click="offline($event, item)" class="downline">下线</span>
						<span v-on:click="removeCoupon($event, item)" class="remove">删除</span>
						
						<span class="bd"></span>
					</div>
				</div>
			</section>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function () {
			var new_data = {
				total_price : 998,
				current_page : 1,
				total_page : 2,
				list: [
					{
						title: '足部精油按摩护理1',
						price: 56,
						
						link: 'admin-products-add.html',
						has_offline: false
					},
					{
						title: '足部精油按摩护理2',
						price: 56,
						
						link: 'admin-products-add.html',
						has_offline: false
					},
					{
						title: '足部精油按摩护理3',
						price: 56,
						
						link: 'admin-products-add.html',
						has_offline: true
					},
					{
						title: '足部精油按摩护理1',
						price: 56,
						
						link: 'admin-products-add.html',
						has_offline: false
					},
					{
						title: '足部精油按摩护理2',
						price: 56,
						
						link: 'admin-products-add.html',
						has_offline: false
					},
					{
						title: '足部精油按摩护理3',
						price: 56,
						
						link: 'admin-products-add.html',
						has_offline: true
					},
					{
						title: '足部精油按摩护理1',
						price: 56,
						
						link: 'admin-products-add.html',
						has_offline: false
					},
					{
						title: '足部精油按摩护理2',
						price: 56,
						
						link: 'admin-products-add.html',
						has_offline: false
					},
					{
						title: '足部精油按摩护理3',
						price: 56,
						
						link: 'admin-products-add.html',
						has_offline: true
					},
					{
						title: '足部精油按摩护理1',
						price: 56,
						
						link: 'admin-products-add.html',
						has_offline: false
					},
					{
						title: '足部精油按摩护理2',
						price: 56,
						
						link: 'admin-products-add.html',
						has_offline: false
					},
					{
						title: '足部精油按摩护理3',
						price: 56,
						
						link: 'admin-products-add.html',
						has_offline: true
					},
					{
						title: '足部精油按摩护理1',
						price: 56,
						
						link: 'admin-products-add.html',
						has_offline: false
					},
					{
						title: '足部精油按摩护理2',
						price: 56,
						
						link: 'admin-products-add.html',
						has_offline: false
					},
					{
						title: '足部精油按摩护理3',
						price: 56,
						
						link: 'admin-products-add.html',
						has_offline: true
					}
				]
			};
			
			// 重置数据
			$.subscribe('vuejs.ready', function (ev, ele) {
				vm.$set('products', new_data);
			});
		});
	</script>
</body>
</html>