<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta name="google" content="notranslate">
	<title>大白 - 商户</title>
	<link rel='stylesheet' id='global-css'  href='/css/style.css?ver=4.4.2' type='text/css' media='all' />
	<script type='text/javascript' src='/script/libs.min.js?ver=4.4.2'></script>
	<script type='text/javascript' src='/script/functions.js?ver=4.4.2'></script>
</head>
<body>
	<div id="wrap" class="wrap">
		<div class="container header-container">
			<header class="header">
				<div class="avatar">
					<a href="admin-index.html"><img src="images/avatar.png"></a>
				</div>
				<div class="content">
					<h1>大白</h1>
				</div>
				<div class="meta">
					<span id="js-price-pos" class="price"><span>￥</span>{{orders.total_price}}</span>
				</div>
			</header>
			
			<section class="ui-media_box ui-media_small_appmsg swiped-list-admin">
				<nav v-swiped class="ui-cells ui-cells_access js-swiped">
					<div v-for="order in orders.list" v-if="!order.has_confirm && !order.has_closed" class="ui-cell js-remove-item">
						<div class="item">
							<div class="top">
								<img v-bind:src="order.avatar">
								<span class="name">{{order.name}} {{order.phone}}</span>
								<time class="time">{{order.time}}</time>
								<span v-else="order.has_confirm" v-on:click="removeConfirm(this.$parent.orders, order, $event)" class="ui-btn ui-btn_mini ui-btn_primary">确认</span>
							</div>
							<div class="bottom">
								<a class="title" href="{{order.link}}">{{order.title}}</a>
								<span class="quantity">共{{order.quantity}}件</span>
								<span class="price"><span>￥</span>{{order.price}}</span>
							</div>
						</div>
						<span v-on:click="closeOrder($event, this.$parent.orders, order)" class="remove">关闭</span>
					</div>
					
					<div v-for="order in orders.list" v-if="!order.has_confirm && order.has_closed" class="ui-cell js-remove-item">
						<div class="item has-closed">
							<div class="top">
								<img v-bind:src="order.avatar">
								<span class="name">{{order.name}} {{order.phone}}</span>
								<time class="time">{{order.time}}</time>
							</div>
							<div class="bottom">
								<a class="title" href="{{order.link}}">{{order.title}}</a>
								<span class="quantity">共{{order.quantity}}件</span>
								<span class="price"><span>￥</span>{{order.price}}</span>
							</div>
						</div>
						<span v-on:click="removeOrder($event, this.$parent.orders, order)" class="remove">删除</span>
					</div>
					
					<div v-for="order in orders.list" v-if="order.has_confirm && !order.has_closed" class="ui-cell js-remove-item">
						<div class="item has-confirm">
							<div class="top">
								<img v-bind:src="order.avatar">
								<span class="name">{{order.name}} {{order.phone}}</span>
								<time class="time">{{order.time}}</time>
							</div>
							<div class="bottom">
								<a class="title" href="{{order.link}}">{{order.title}}</a>
								<span class="quantity">共{{order.quantity}}件</span>
								<span class="price"><span>￥</span>{{order.price}}</span>
							</div>
						</div>
						<span v-on:click="removeOrder($event, this.$parent.orders, order)" class="remove">删除</span>
					</div>
				</nav>
			</section>
		</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function () {
			var new_data = {
				total_price : 998,
				list: [
					{
						title: '排毒养颜神奇驻颜色1',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻颜色2',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻颜色3',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻颜色4',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻颜色5',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻-已确认',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: true,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神-已关闭',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: true,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻颜色1',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻颜色2',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻颜色3',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻颜色4',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻颜色5',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻-已确认',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: true,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神-已关闭',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: true,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻颜色1',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻颜色2',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻颜色3',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻颜色4',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻颜色5',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神奇驻-已确认',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: true,
						has_closed: false,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					},
					{
						title: '排毒养颜神-已关闭',
						name: '欧米伽',
						avatar: 'temp/u0.jpg',
						phone: '1388886666',
						has_confirm: false,
						has_closed: true,
						quantity: 3,
						price: 998,
						time: '5/20',
						link: 'admin-order-item.html'
					}
				]
			};
			
			// 重置数据
			$.subscribe('vuejs.ready', function (ev, ele) {
				vm.$set('orders', new_data);
			});
		});
	</script>
</body>
</html>