/*
 * head头部的公共部分
 * footer公共部分
 */
body{
	background-color:#000;
	color: #FFF;
}
#header,#nav,#page,#footer{
	width:1000px;
	margin:0 auto;
}
#header{
	height:180px;
	padding: 50px 0;
}
#header img{
	width:auto;
}
#header .left{
	width: 50%;
}
#header .left img.logo{
	height: 160px;
	margin-top:10px;
}
#header ul img{
	height: 70px;
	margin-bottom:10px;
}
#header li{
	margin-bottom: 10px;
}
#header li img.two{
	margin-right:20px;
}

#nav{
	padding-bottom: 10px;
	overflow: hidden;
}
#nav a{
	color: #FFF;
}
#nav .menu{
	float: left;width: 25%;
	text-align: center;
	line-height: 30px;
	font-size:20px;
}
#nav .menu .sep{
	height:2px;
	width: 15px;
	position: relative;top: 14px;left:-15px;
}
#nav .menu nav{
	position:relative;left:-7px;
}
#nav .menu .separator{
	height:3px;
	width: 90%;
}

#footer.gray{
	height:260px;
}
#footer label{
	margin-left: -125px;
}

.gray{
	background-color: #9e9e9f;
	color: #000;
	font-weight: bolder;
	font-size: 30px;
	position:relative;
	font-family: "Microsoft Yahei";
}
.gray label{
	position:absolute;
	top:50%;left:50%;
	line-height: 30px;
	margin:-15px 0 0 -60px;
}
.bgcolor{
	background: -webkit-linear-gradient(left, #89b928 , #f3eb3c); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #89b928 , #f3eb3c); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #89b928 , #f3eb3c); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #89b928 , #f3eb3c); /* 标准的语法 */
}